@import 'normalize.css';

:root {
    --primary: #cecece;
    --primary-dark: #282828;
    --text-color: white;
    --btn-light: #32424B;
    --btn-dark: #246fb4;
    --default-width: 1150px;
    --default-header-height: 100px;
    --font-family: 'Alegreya', sans-serif;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

body {
    font-size: 1.6rem;
    line-height: 1.5;
    font-family: var(--font-family);
    text-rendering: optimizeSpeed;
}

// Import Font
@font-face {
    font-family: Alegreya;
    src: url(../../assets/fonts/AlegreyaSans-Light.ttf);
    font-weight: 400;
}

@font-face {
    font-family: Alegreya;
    src: url(../../assets/fonts/AlegreyaSans-Regular.ttf);
    font-weight: 500;
}

@font-face {
    font-family: Alegreya;
    src: url(../../assets/fonts/AlegreyaSans-Medium.ttf);
    font-weight: 600;
}

@font-face {
    font-family: Alegreya;
    src: url(../../assets/fonts/AlegreyaSans-Bold.ttf);
    font-weight: 700;
}

@font-face {
    font-family: Plank;
    src: url(../../assets/fonts/Plank.ttf);
}