.profile-wrapper {
    width: 100%;
    background-color: black;
    padding-top: calc(var(--default-header-height) + 20px);
}

.profile-first {
    width: 100%;
    background-color: var(--bg-light);
}

.profile-main {
    width: var(--default-width);
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    padding-bottom: 40px;
}

.profile-header {
    display: flex;
    background: linear-gradient(315deg, rgb(112, 146, 156) 0%, rgb(230, 132, 110) 100%);
    padding: 30px 0;
}

.profile-avatar {
    width: 170px;
    height: 170px;
    object-fit: cover;
    border-radius: 50%;
    margin: 0 30px;
}

.file-img {
    margin-top: 10px;
}

.file-img::-webkit-file-upload-button {
    visibility: hidden;
}

.file-img::before {
    content: 'Chọn ảnh mới';
    display: inline-block;
    background: white;
    border: 1px solid #999;
    border-radius: 3px;
    padding: 8px 10px;
    outline: none;
    white-space: nowrap;
    -webkit-user-select: none;
    cursor: pointer;
    text-shadow: 1px 1px #fff;
    font-weight: 700;
    font-size: 10pt;
}

.file-img:hover::before {
    border-color: black;
}

.file-img:active::before {
    background: -webkit-linear-gradient(top, #e3e3e3, #f9f9f9);
}

.profile-bar {
    border-bottom: 1px solid var(--primary);
}

.profile-bar,
.profile-content {
    margin: 0 30px;
    position: relative;

    h3 {
        font-size: 2.4rem;
        font-weight: 600;
        margin: 20px 0;
    }

    p {
        font-size: 2rem;
        font-weight: 500;
    }

    ul {
        height: 50px;
        display: flex;
        align-items: center;

        li {
            cursor: pointer;
            list-style: none;
            font-size: 2rem;
            font-weight: 600;
            margin-right: 30px;
        }
    }
}

.profile-bar-line {
    position: absolute;
    left: 0;
    bottom: -2px;
    width: 100px;
    height: 4px;
    border-radius: 15px;
    background-color: var(--btn-dark);
    transition: all 0.2s ease;
}

.profile-bar .active {
    color: var(--text-dark);
}

//Tab Profile
.block {
    display: flex;
    margin-bottom: 10px;
    align-items: center;
}

.label-info {
    width: 124px;
    font-weight: 500;
}

.input-info {
    flex: 1;
    width: 350px;
    height: 35px;
    outline: none;
    border: 1px solid black;
    border-radius: 6px;
    padding: 0px 10px;
}

.btn-pro5 {
    float: right;
    cursor: pointer;
    height: 43px;
    background: var(--btn-dark);
    outline: 0px;
    border: 1px solid var(--btn-dark);
    border-radius: 1000px;
    box-shadow: none;
    font-size: 16px;
    font-weight: 600;
    color: rgb(255, 255, 255);
    padding: 12px 24px;
    margin: 0px;
    margin-top: 15px;

    &:hover {
        opacity: 0.88;
    }
}

//Tab Hiring
.profile-block {
    display: none;
}

.profile-content .active {
    display: block;
}

.hiried {
    display: flex;
    margin-bottom: 20px;
    position: relative;

    img {
        width: 150px;
        height: 150px;
        border: 1px solid var(--primary);
        margin-right: 20px;
    }

    button {
        cursor: pointer;
        background-color: var(--btn-dark);
        color: var(--text-color);
        font-size: 1.6rem;
        font-weight: 600;
        padding: 10px 20px;
        border: none;
        outline: none;
        margin-top: 5px;

        &:hover {
            opacity: 0.88;
        }
    }
}

.hiried-name {
    margin-top: 0;
    font-weight: 600;
}

.hiried-time {
    position: absolute;
    right: 0;
}