.content {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    align-items: center;
}

.header-content {
    background: url("../../assets/images/bg.jpg") no-repeat;
    background-size: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    height: 100vh;
    min-height: 600px;
    align-items: center;
}

.header-content-title {
    font-size: 5rem;
    font-weight: 700;
    color: var(--text-color);
    margin-bottom: 30px;
}

.header-content-input {
    width: 400px;
    font-size: 1.6rem;
    padding: 15px 25px;
    border-radius: 30px;
    outline: none;
    border: 1px solid var(--primary);
}

.header-content-btn {
    cursor: pointer;
    background-color: var(--btn-dark);
    color: var(--text-color);
    font-size: 1.6rem;
    font-weight: 600;
    padding: 15px 25px;
    border-radius: 30px;
    border: none;
    outline: none;
    margin-left: 20px;

    &:hover {
        opacity: 0.88;
    }
}

.body-content-wrapper {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 40px;
}

.body-content {
    width: var(--default-width);
}

.body-content-title {
    font-size: 2.4rem;
    font-weight: 700;
    margin: 20px 0;
}

.body-content-list {
    display: flex;
    margin-bottom: 20px;
    flex-wrap: wrap;
    justify-content: space-between;
}

.body-content-item {
    display: flex;
    flex-direction: column;
    width: calc(23%);
    align-items: center;
    margin-bottom: 25px;
    border-radius: 5px;
    box-shadow: rgba(50, 50, 93, 0.25) 0 4px 12px -2px,
        rgba(0, 0, 0, 0.3) 0 2px 7px -3px;
}

.body-content-item-img {
    width: 100%;
    height: 150px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

.body-content-item-title {
    margin-top: 10px;
    font-weight: 600;
}

.body-content-item-price {
    font-size: 1.8rem;
    font-weight: 500;
    margin-bottom: 10px;
}