.link {
    text-decoration: none;
    color: black;
}

.content {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    align-items: center;
}

.header-content {
    background: url(../../assets/images/bg.jpg) no-repeat;
    background-size: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    height: 100vh;
    min-height: 600px;
    align-items: center;
}

.header-content-title {
    font-size: 5rem;
    font-weight: 700;
    color: var(--text-color);
    margin-bottom: 30px;
}

.header-content-input {
    width: 400px;
    font-size: 1.6rem;
    padding: 15px 25px;
    border-radius: 30px;
    outline: none;
    border: 1px solid var(--primary);
}

.header-content-btn {
    cursor: pointer;
    background-color: var(--btn-dark);
    color: var(--text-color);
    font-size: 1.6rem;
    font-weight: 600;
    padding: 15px 25px;
    border-radius: 30px;
    border: none;
    outline: none;
    margin-left: 20px;

    &:hover {
        opacity: 0.88;
    }
}

.body-content-wrapper {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 40px;
}

.body-content {
    width: var(--default-width);
}

.body-content {
    position: relative;

    .prev-btn-tasker,
    .next-btn-tasker {
        position: absolute;
        top: 50%;
        width: 40px;
        height: 40px;
        border: 1px solid var(--primary-dark);
        border-radius: 50%;
        padding: 5px;
        cursor: pointer;
    }

    .prev-btn-tasker {
        left: 0;
        padding-right: 8px;
    }

    .next-btn-tasker {
        right: 0;
        padding-left: 8px;
    }
}

.body-content-title {
    font-size: 2.4rem;
    font-weight: 700;
    margin: 20px 0;
}

.body-content-list {
    display: flex;
    margin-bottom: 20px;
    flex-wrap: wrap;
    justify-content: space-between;
}

.body-content-item {
    cursor: pointer;
    display: flex;
    flex-direction: column;
    width: calc(23%);
    align-items: center;
    margin-bottom: 25px;
    border-radius: 5px;
    box-shadow: rgba(50, 50, 93, 0.25) 0 4px 12px -2px,
        rgba(0, 0, 0, 0.3) 0 2px 7px -3px;

    &:hover .body-content-item-img {
        transform: scale(110%);
        opacity: 1;
    }
}

.body-content-img {
    width: 100%;
    height: 150px;
    overflow: hidden;
}

.body-content-item-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    opacity: 0.9;
    transition: all ease .2s;
}

.body-content-item-title {
    margin-top: 10px;
    font-weight: 600;
}

.body-content-item-price {
    font-size: 1.8rem;
    font-weight: 500;
    margin-bottom: 10px;
}

.body-bridge-wrapper {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #f9fafb;
    margin: 80px 0;
}

.body-bridge {
    display: flex;
}

.body-bridge-2 {
    display: flex;
    flex-direction: row-reverse;
}

.bridge-desc {
    width: 45%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0 50px;

    p {
        font-size: 2rem;
        font-weight: 600;
        color: var(--primary-dark);
        margin: 15px 0;
    }

    li {
        font-size: 1.8rem;
        font-weight: 600;
        list-style: none;
        margin-bottom: 10px;

        &::before {
            content: '✓';
            margin-right: 10px;
        }
    }
}

.bridge-img {
    width: 55%;
}

.slide-taskers {
    margin: 40px 0;
}

.taskers-item {
    padding: 0 50px;
    display: flex;
    flex-direction: column;
    align-items: center;

    img {
        width: calc((var(--default-width) / 4) - 100px);
        height: calc((var(--default-width) / 4) - 100px);
        border-radius: 50%;
        border: 2px solid var(--primary);
    }

    p {
        font-size: 1.8rem;
        font-weight: 500;
    }
}

.taskers-star {
    font-size: 1.6rem;
    color: orange;
    display: flex;
    align-items: center;

    span {
        font-size: 1.8rem;
        font-weight: 700;
        color: black;
        margin-left: 5px;
    }
}

.location-wrapper {
    width: var(--default-width);
    margin-bottom: 80px;

    .location-title {
        font-size: 2.4rem;
        font-weight: 700;
        margin: 20px 0;
    }

    .earth {
        float: left;
    }
}

.location-city {
    display: flex;
    flex-wrap: wrap;
     
    .location-city-item {
        width: calc(100% / 4);
        padding: 10px 20px;
        text-align: center;
    }
}

.end-page-wrapper {
    width: 100%;
    background-color: #f9fafb;
    padding: 40px 0;

    h1 {
        text-align: center;
    }
}

.end-page-body {
    display: flex;
    justify-content: center;
    margin: 50px 0;
}

.end-con {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0 100px;

    &:first-child {
        border-right: 1px solid var(--primary);
    }

    p {
        width: 300px;
        font-size: 2rem;
        text-align: center;
        font-weight: 600;
        margin: 30px 0;
    }

    button {
        cursor: pointer;
        background-color: var(--btn-dark);
        color: var(--text-color);
        font-size: 1.6rem;
        font-weight: 600;
        padding: 15px 25px;
        border-radius: 30px;
        border: none;
        outline: none;
        margin-left: 20px;

        &:hover {
            opacity: 0.88;
        }
    }
}